* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

body,
ul {
  margin: 0;
  padding: 0;
}

/* Styling the navbar */
nav ul li {
  display: inline;
}

nav ul li a {
  padding: 10px;
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust this for vertical positioning */
  background-color: #e9e9e9;
}
.logo {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.banner {
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #e9e9e9;
}

.desc {
  width: 45%;
  padding-right: 8rem;
  font-size: 1.125rem;
}

.desc > p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  padding: 1.5rem 0;
}

.desc > h1 {
  white-space: nowrap;
  font-size: 2.375em;
  font-weight: 500;
}

.contact {
  position: absolute;
  padding: 1.2rem 2.5rem;
  color: white;
  background-color: rgb(15, 201, 195);
  border: none;
  font-size: 0.75rem;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
}
.about {
  display: flex;
  width: 100%;
  height: 60vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.about-text {
  line-height: 1.75rem;
  width: 50%;
}

h2 {
  font-size: 1.725em;
  font-weight: 500;
}

.skills-content > h2 {
  margin-bottom: 1rem;
}

.about-text > p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: #787878;
  padding: 2rem 0;
}

.skills {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: flex-start; /* Align items to the left horizontally */
  align-items: center;
  flex-direction: row;
}

.progress-label {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.skills-content {
  padding-left: 2.5em;
  width: 40%;
}

.uxui {
  width: 75%;
}

.progress-containter {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(237, 237, 237);
  width: 100%;
}

.progress {
  background-color: rgb(15, 201, 195);
  height: 5px;
}

.webdev {
  width: 90%;
}

.marketing {
  width: 65%;
}

.stats {
  display: flex;
  background-color: rgb(15, 201, 195);
  width: 100%;
  height: 25vh;
  align-items: center;
  padding: 20px;
}

.stats-text {
  flex: 1 1 auto;
  text-align: left;
  font-size: 500;
  color: white;
}

.stats-text > p:first-child {
  font-size: 18px;
  padding-bottom: 0.5em;
}

.stats-text > p:last-child {
  font-size: 12px;
}

.stats-icon {
  color: white;
  padding: 2em;
}

.icon {
  font-size: 34px;
}
