* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

body,
ul {
  margin: 0;
  padding: 0;
}

/* Styling the navbar */
nav ul li {
  display: inline;
}

nav ul li a {
  padding: 10px;
  color: black;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Adjust this for vertical positioning */
  background-color: #e9e9e9;
}
/* .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  align-items: flex-end;
}
 */
.logo {
  width: 50px;
  height: 50px;
  background-color: red;
}

/* .nav-items {
  display: flex;
  gap: 2.5em;
} */
